
<div class="charts" id="chart-container">
    <div class="line"></div> [chart]="lineChart"></div>


<!-- <div class="center-container">
    <button class="stop-button">Stop</button>
</div>
<ul *ngFor="let d of data">
    <li >{{ d}}</li>
  </ul> -->
  <button routerLink="/live-chart"></button>

