.line{
    width: 50%;
    /* margin: 0 auto; */
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
  }
/* .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } */